body {
    color: rgb(93, 96, 99);
    line-height: 1.3;
    font-size: 16px;
    font-family: 'Helvetica', 'Arial', 'Sans-serif';
    background-color: #ebebe5;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-top: 0;
    padding: 4%;
    background-color:#002C3E;
    color: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

p {
    margin: 15px;
    font-style: oblique;
    text-decoration: underline;
}

fieldset{
    border-color: #002c3eaf;
    margin: 5px;
    border: 18px
}

form {
    align-items: center;
    margin: 10px 30%;
    background-color:  #6a7f8167;
    border-radius: 1%;
    padding-bottom: 10px;
}

.line-content {
    margin: 12px;
}
button {
    color: white;
    font-size: 15px;
    margin: 5px;
    margin-left: 15px;
    background-color: rgb(2, 158, 2);
    border-radius: 5px;
    padding: 8px 18px 8px 18px;
    border-color: rgb(22, 155, 22);
}

.limpar {
    background-color: red;
    border-color: rgb(248, 44, 44);
}

