ol {
    background-color:yellow;
}
ol :nth-child(2n){
    color: green;
}
.primo{
    text-transform: lowercase;
}
h1, h2, h3, h4 h5, h6 {
    color: red;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
    font-size: 40px;
    border: 1px solid black;
}
li{
    font-size: 20px;
}
li em {
    font-weight: bold;
}

.linguagens :nth-child(1), .linguagens :nth-child(2), .linguagens :nth-child(3){ 
    color: rgb(10, 61, 230);
}
ul li.java {
    background-color: pink;
    width:fit-content;
}
ul.links li:hover{
font-weight: bold;
}

li.stack:hover{
    color: orangered;
    background-color: orangered;
    width: fit-content;
}
li.w3:hover{
    color: green;
    background-color: green;
    width: fit-content;  
}
li.mdn:hover{
    color: black;
    background-color: black;
    width: fit-content; 
}
li.dev:hover{
    color: yellow;
    background-color: yellow;
    width: fit-content;
}
li.trybe:hover{
    color: green;
    background-color: green;
    width: fit-content; 
}